.help-icon {
    position: relative;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(180, 23%, 19%);
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    cursor: help;
    span {
        position: absolute;
        top: 100%;
        left: 100%;
        display: none;
        width: max-content;
        padding: 0.5rem;
        background-color: hsl(180, 20%, 90%);
        color: #000;
        border-radius: 0.25rem;
        font-size: 1rem;
        font-weight: normal;
        max-width: 400px;
        border: 1px solid hsl(180, 20%, 80%);
    }

    &:hover {
        span {
            display: block;
        }
    }
}