th, td {
    border: 1px solid hsl(0, 0%, 80%);
    padding: 0.5rem 1rem;
    text-align: center;
}

#lottery-results-tbody{
    td {
        border-inline: none;
    }
    td:first-child {
            border-inline: 1px solid hsl(0, 0%, 80%);
    }
     td:last-child {
            border-right: 1px solid hsl(0, 0%, 80%);
    }
}